.headerContainer
{
    height: 5rem;
    width: 100%;
    background-color: black;
    .profile
    {
        position: absolute;
        top: 0;
        right: 5%;
    }
    .logout
    {
        position: absolute;
        top: 0;
        right: 0%;
    }
}
