.heading
{
    text-align: center;
}
.ResetPassword
{
    padding: 2rem;
    .details
    {
        label
        {
            font-size: 1.5rem;
            padding: 1rem ;
            height: 10px;
            width: 10px;
            margin-right: 1rem 1rem 2rem 2rem;
        }   
        input
        {
            
            // margin-left: 2rem;
            // padding: .5rem ;
            margin-right: 1rem 1rem 2rem 2rem;
            // padding: 1rem;

        }
        height: 2rem;

    }
}